<div class="pop-up dialog">
    <p>Are you sure you want to remove<br><b>{{username}}?</b></p>
    <a class="yes" href="/delete?username={{username}}">Yes</a>
    <a class="no" href="#">No</a>
</div>
